<div class="container">

  <div class="jumbotron mt-4">
    <h1 class="display-4">Hello, Welcome to Task App</h1>
    <p class="lead">This is a simple task app </p>
    <ul>
      <li>Task 1 and 2 postman.json is attached to the project</li>
      <p><i> Change appsetting and appsetting.development.json according to local ms sql server</i> <br />
         <i>Code first Approach </i></p>
      <li>For task 2 go to roster page as included in right nav bar</li>
      
      <li>For Task 3 is defined in & as ArraySolve.cs</li>
      <li>For Task 4 is defined in & as BaseBallGame.cs</li>

    </ul>
    <hr class="my-4">
    <p>Hope to get connected</p>
    <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/anil-poudel-a93b43195/" role="button">Find me on LinkedIn</a>
  </div>

  </div>

